.main {
background: green;
text-align: center;
border: 1px;
font-family: sans-serif;
box-sizing: border-box;

}

body {
background: orange;
text-align: center;
font-family: sans-serif;
border: 1px;
box-sizing: border-box;

}

.question {
background: wheat;
text-align: center;
font-family: sans-serif;
border: 1px;
box-sizing: border-box;

}

.answer-input {
background: wheat;
text-align: center;
font-family: sans-serif;
border: 1px;
box-sizing: border-box;
    
}


