.main {
background: green;
text-align: center;
border: 1px;
font-family: sans-serif;
box-sizing: border-box;

}

h1 {
background: orange;
text-align: center;
font-family: sans-serif;
border: 1px;
box-sizing: border-box;
    
}

body {
background: orange;
text-align: center;
font-family: sans-serif;
border: 1px;
box-sizing: border-box;

}

.question {
background: wheat;
text-align: left;
font-family: sans-serif;
border: 1px;
box-sizing: border-box;

}

.answer-input {
background: wheat;
text-align: left;
font-family: sans-serif;
border: 1px;
box-sizing: border-box;
    
}

.correct-answer {
background: wheat;
text-align: left;
font-family: sans-serif;
border: 1px;
box-sizing: border-box;
        
}

.alert-correct {
padding: 20px;
background-color: white;
color: black;
margin-bottom: 10px;
}


  /* courtesy of W3Schools.com */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: 100;
    font-size: 22px;
    line-height: 0ch;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
color: black;
}

.score {
    background-color: green;
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  
.score-box {
    background-color: green;
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }


.back-button {
    background-color: blue;
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    span
  }


.next-button {
    background-color: blue;
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -ms-grid-row-span: initial;
  }